PORT=5000
CORS_ORIGIN=http://localhost:3000
# Uncomment and set either DATABASE_URL or PG connection params
# DATABASE_URL=postgres://user:password@localhost:5432/smartfarm
PGHOST=localhost
PGUSER=postgres
PGPASSWORD=your_password
PGDATABASE=smartfarm
PGPORT=5432
# PGSSLMODE=require
